textarea {
    width: 1020px;
    height: 100px;
}

.letters {
    display: flex;
    width: 1020px;
    background-color: beige;

}

.letter {
    display: inline-block;
    min-width: 30px;
    height: 30px;
    background-color: #888888;

    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    font-family: sans-serif;
    transition: background-color 0.5s, border-radius 0.2s;
}

.funck-button {
    display: inline-block;
    min-width: 40px;
    height: 30px;
    background-color: #666666;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    font-family: sans-serif;
    flex-grow: 1;
    transition: background-color 0.5s, border-radius 0.2s;
}

.button-32 {
    min-width: 300px;
}

.func-buttons {
    width: 90%;
}

.letter:hover,
.funck-button:hover {
    background-color: lightblue;
}

.letter:active {
    background-color: green;
    border-radius: 50%;
}

.active {
    background-color: green;
    border-radius: 50%;
}

.funck-button:active,
.funck-button.active {
    background-color: green;
    border-radius: 30px / 50%;
}

.local-lang {
    margin-top: 40px;
}

.local-lang span {
    min-width: 20px;
    height: 20px;
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    font-family: sans-serif;
}